@import url('http://fonts.googleapis.com/css?family=Lato:100,200,300,400,600');
@import url('http://fonts.googleapis.com/css?family=Cardo:400,400italic');

@font-face {
	font: {
	  family: 'places';
	}
	src: url('places.eot');
	src: url('places.eot?#iefix') format('embedded-opentype'),
		url('places.woff') format('woff'),
		url('places.ttf') format('truetype'),
		url('places.svg#places') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {

  font: {
    family: 'places';
    style: normal;
    weight: normal;
    variant: normal;
  }

  text: {
    transform: none;
  }

	&:before {
		position: relative;
		top: 1px;
	}
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  &.tag {
    &:before {
      content: "\e600";
    }
  }

  &.pin {
    &:before {
      content: "\e601";
    }
  }

  &.category {
    &:before {
      content: "\e602";
    }
  }

  &.arrow {

    &:before {
      content: "\e603";
    }
  }

  &.area {
    &:before {
      content: "\e604";
    }
  }

}
