main {
  &.Area {
    
    $width: 750px;
    
    > header {
      height: 300px;
      color: $white;
      position: relative;
      
      > div {
        width: 100%;
        height: 100%;
      }
      
      > hgroup {
        @include prefix(text-shadow, $shadowC);
        z-index: 1;
        position: absolute;
        bottom: $margin;
        left: 50%;
        padding: ($margin * 2) 0;
        margin: {
          left: -($width / 2);
        }
      }
      
    }
    
    > div {
      margin: ($margin * 2) auto;
      width: $width;
    }
    
  }
}