button {
  
  @include prefix(border-radius, 3px);
  background: $clouds;
  display: inline-block;
  padding: $margin $margin $margin ($margin + 18px);
  position: relative;
  font: {
    weight: 600;
  }
  
  i {
    position: absolute;
    top: $margin + 2px;
    left: $margin;
  }
  
  &.red {
    background: $alizarin;
    color: $white;
    i {
      color: $white;
    }
  }
  
}

.button {
  @extend button;
}