$header-height: 70px;

#header {
  
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: $white;
  height: $header-height;
  z-index: 99;
  padding: $margin;
  
  nav {
    height: 100%;
  }
  
  ul {
    height: 100%;
  }
  
  li {
    display: inline-block;
    vertical-align: middle;
  }
  
}


main {
  padding: {
    top: $header-height;
  }
}