article {
  &.Post {
  
    $margin: $margin * 2;
    $avatar-width: 75px;
    background: $white;
    position: relative;
    margin: 0 0 $margin 0;
    @include prefix(border-radius, 3px);
    @include prefix(box-shadow, $shadowB);
    border: 1px solid $silver;
    
    
    figure {
      
      position: absolute;
      top: $margin;
      right: $margin;
      
      img {
        @include circle($avatar-width);
      }
      
    }
    
    > header {
      color: #777;
      position: relative;
      margin: {
        bottom: $margin;
      }
    }
    
    > div {
      padding: $margin ($avatar-width + ($margin * 2)) $margin $margin;
    }
    
    > footer {
      padding: ($margin / 2) $margin;
      background: $white;
      border: {
        top: 1px solid $silver;
      }
      font: {
        size: 14px;
        weight: 400;
      }
      color: #666;
      i {
        color: $pomegranate;
      }
    }
    
    p {
      font: {
        size: 20px;
        weight: 600;
      }
      margin: {
        bottom: $margin;
      }
    }
    
    li {
      color: #777;
      position: relative;
      padding: {
        left: 20px;
      }
    }
    
  }
}