article {
  &.Post {
  
    $margin: $margin * 2;
    $avatar-width: 75px;
    position: relative;
    padding: $margin ($avatar-width + ($margin * 2)) $margin $margin;
    border: {
      bottom: 1px solid $silver;
    }
    
    figure {
      
      position: absolute;
      top: $margin;
      right: $margin;
      
      img {
        @include circle($avatar-width);
      }
      
    }
    
    header {
      position: relative;
      margin: {
        bottom: $margin;
      }
      padding: {
        left: 20px;
      }
    }
    
    i {
      position: absolute;
      top: 3px;
      left: 0;
    }
    
    p {
      font: {
        size: 20px;
        weight: 600;
      }
      margin: {
        bottom: $margin;
      }
    }
    
    li {
      position: relative;
      padding: {
        left: 20px;
      }
    }
    
  }
}