article {
  &.Post {
  
    $margin: $margin * 2;
    $avatar-width: 35px;
    background: $white;
    position: relative;
    margin: 0 0 $margin 0;
    @include prefix(border-radius, 3px);
    @include prefix(box-shadow, $shadowB);
    border: 1px solid $silver;
    
    
    
    
    > header {
      color: #777;
      position: relative;
      margin: {
        bottom: $margin;
      }
    }
    
    > div {
      padding: $margin;
      
      > footer {
        
        position: relative;
        min: {
          height: $avatar-width;
        }
        padding: {
          left: $avatar-width + 15px;
        }
        
        font: {
          size: 12px;
        }
        
        img {
          @include circle($avatar-width);
          position: absolute;
          left: 0;
          top: 0;
        }
        
        li {
          line: {
            height: 1.4em;
          }
        }
        
      }
    }
    
    > footer {
      padding: ($margin / 2) $margin;
      background: $white;
      border: {
        top: 1px solid $silver;
      }
      font: {
        size: 14px;
        weight: 400;
      }
      color: #666;
      i {
        color: $pomegranate;
      }
    }
    
    p {
      font: {
        size: 20px;
        weight: 300;
      }
      margin: {
        bottom: $margin;
      }
    }
    
  }
}