%main.App

  %nav
    %header
      %h3
        = area.label

    %div
      %hgroup
        %h5 Tags
      %ul
        - Tag.all.each do |tag|
          %li ##{link_to tag.name, "#"}

  %div
    = render area.posts
