%main.App

  %nav

    %div
      %hgroup
        %h5 Tags
      %ul
        - Tag.all.each do |tag|
          %li ##{link_to tag.name, "#"}

  %div.main
    = render "posts/composer", post: @post
    = render area.posts
