.Area

  %header

    %div
      %h5
        %span.radius
          %span
          = area.radius
        = area.address
      %ul
        %li.search
          %input{type: "text", placeholder: "Search..."}

  %nav

    %hgroup
      %h5 Categories

    %ul
      - Category.all.each do |category|
        %li= nav_link_to category.name, category_area_path(area, category)

  %div
    = render area.posts
