main {
  &.App {

    $nav-width: 225px;
    $header-height: 0;

    position: relative;
    top: $header-height;

    > nav {

      position: fixed;
      left: 0;
      top: $header-height;
      bottom: 0;
      width: $nav-width;
      background: #222;
      color: $silver;

      a {
        color: $clouds;
        padding-left: $margin / 6;
        font-weight: 600;
      }

      > div {
        padding: $margin * 2;
      }

      ul {
        color: $silver;
      }

      li {
        font-size: 15px;
        line-height: 1.7em;
      }

    }

    > div {

      padding: ($margin * 2) ($margin * 2) ($margin * 2) ($nav-width + ($margin * 2));

    }

  }

}
