.App {

  $nav-width: 180px;

  > nav {

    position: fixed;
    width: $nav-width;
    background: $blackB;
    top: 0;
    left: 0;
    bottom: 0;

    > div {

      @extend %capitalized-template;

      a {
        display: block;
        color: $white;
      }

      > header {

        a {
          background: $turquoise;
          padding: $margin * 2;
          &:hover {
            background: $greensea;
          }
        }

      }

      > ul {

        padding: $margin 0;

        a {
          padding: ($margin * 0.75) ($margin * 2);
          &:hover,
          &.active {
            background: $blackA;
          }
        }

      }

    }

  }


  > div {

    position: absolute;
    left: $nav-width;
    right: 0;
    top: 0;

  }

}
