.Area {

  $header-height: 60px;
  $nav-width: 220px;
  position: relative;

  > header {

    color: $blackA;
    padding: ($margin * 2) ($margin * 3);
    background: $white;

    > div {

      position: relative;

      > ul {

        position: absolute;
        top: 0;
        right: 0;
        font-size: 0;
        line-height: 0;

        > li {

          display: inline-block;

        }

      }

    }

    h5 {
      line-height: 1;
    }

    .radius {

      display: inline-block;
      position: relative;
      color: $alizarin;
      padding: {
        left: 17px;
        right: $margin / 2;
      }


      > span {
        @include prefix(border-radius, 6px);
        width: 12px;
        height: 12px;
        border: 1px solid $pomegranate;
        position: absolute;
        left: 0;
      }

    }

  }

  > nav {
    width: $nav-width;
    position: absolute;
    top: $header-height;
    left: 0;
    padding: ($margin * 2) ($margin * 2) ($margin * 2) ($margin * 3);

    hgroup {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        display: block;
        background: $white;
      }
    }

    h5 {
      display: inline-block;
      background: $clouds;
      padding-right: $margin / 2;
      color: $blackI;
    }

    li {

      font-size: 13px;
      font-weight: 600;
      
      > a {
        @include prefix(border-radius, 2px);
        display: block;
        margin-left: -$margin;
        padding: ($margin / 3) $margin;
        &:hover {
          background: $white;
        }
      }

    }

    ul {

      margin-bottom: $margin * 3;

    }

  }

  > div {

    position: absolute;
    top: $header-height;
    left: $nav-width;
    right: 0;
    bottom: 0;
    padding: ($margin * 2) ($margin * 3) ($margin * 2) ($margin * 2);

  }

}
