#header {

  height: $header-height;
  background: $wetasphalt;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

  > ul {
    @extend %inline-block-parent;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    &.right {
      right: 0;
    }

    > li {
      @extend %inline-block;
      vertical-align: middle;
    }
  }

}
