.Post {

  $avatar-size: 35px;

  background: $white;
  border-bottom: 1px solid $clouds;
  margin-bottom: $margin;

  > div {

    padding: $margin * 2;

    > div {
      position: relative;

      > div {
        padding: {
          left: $avatar-size + $margin;
        }
      }

    }

  }

  header {

    position: relative;
    min-height: $avatar-size;
    font-size: 12px;
    line-height: 1.4em;
    padding: {
      left: $avatar-size + $margin;
    }

    .user {
      font-weight: 600;
    }

    .date {
      display: block;
      padding: {
        bottom: $margin;
      }
      a {
        color: $silver;
      }
    }

  }

  figure {
    position: absolute;
    top: 0;
    left: 0;
    > img {
      @include prefix(border-radius, ceil($avatar-size / 2));
      display: block;
    }
  }

}
