%article.Post

  %div
    
    %figure
      = image_tag post.user.avatar.url(:medium) unless post.user.avatar.nil?
      
    %section
      = simple_format post.message
    
  %footer
    %i.pin
    #{post.place.address}